<div class="flex flex-column">
    <h3>Buscandor</h3>
    <mat-form-field>
<mat-label> Buscador de heroes</mat-label>
<input type="text" matInput [formControl]="searchInput" (input)="searchHero()" [matAutocomplete]="auto">
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectedOption($event)">
    @for (option of heroes; track option) {
      <mat-option [value]="option">{{option.superhero}}</mat-option>
    }
    <mat-option *ngIf="heroes.length === 0 && searchInput.value!.length > 0">No se enconro nada con el termino {{searchInput.value}}</mat-option>
  </mat-autocomplete>


    </mat-form-field>
 {{selectedHero|json}}
</div>