<h1>
    {{currecthero.id ? ' Editar ' :'Agregar'}}
    Heroe

</h1>
<mat-divider class="mb-2"> </mat-divider>
<div class="grid">
    <div class="col-12 sm:col-6">
<mat-card>
    <mat-card-content>
        <form class="grid" [formGroup]="heroForm" (ngSubmit)="onsubmit()">

            <mat-form-field class="col-12 sm:col-6">
                <mat-label>Super heroe</mat-label>
                <input matInput type="text" required="true" formControlName="superhero">
            </mat-form-field>
            <mat-form-field class="col-12 sm:col-6">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" required="true"formControlName="alter_ego">
            </mat-form-field>
            <mat-form-field class="col-12 ">
                <mat-label>Primera Aparicion</mat-label>
                <input matInput type="text" required="true" formControlName="first_appearance">
            </mat-form-field>
            <mat-form-field class="col-12 ">
                <mat-label>Personajes</mat-label>
                <input matInput type="text" required="true" formControlName="characters">
            </mat-form-field>
            <mat-form-field class="col-12 ">
                <mat-label>Creador</mat-label>
                 <mat-select  formControlName="publisher">
                    <mat-option *ngFor="let item of publisher" [value]="item.id">{{item.desc}}</mat-option>
                 </mat-select>
            </mat-form-field>
            <mat-form-field class="col-12 ">
                <mat-label>Alternative img</mat-label>
                <input matInput type="text"  formControlName="alt_img">
            </mat-form-field>
        </form>
        <div class="flex justify-content-between">
        <button mat-flat-button
        color="warn"
        *ngIf="currecthero.id"
        (click)="ondeleteHero()"
        >
            Borrrar
        </button>
     <span></span>
        <button mat-flat-button
        color="primary"
        (click)="onsubmit()"
        >
        <mat-icon>save</mat-icon>
            Save
        </button>
    </div>
    </mat-card-content>
</mat-card>
    </div>

    <div class="col-12 sm:col-6">
<mat-card>
    <img [src]="currecthero | Heroimage" alt="img del hero" mat-card-image>
</mat-card>
    </div>

</div>